* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'Almarai', 'Cairo', sans-serif;
}

a {
  color: inherit;
}
